salvar.py
anime.txt
teste.py
__pycache__
**/__pycache__
ambiente
log.log
.vscode
output
setup.py
Anime Downloader.spec
ffmpeg
build
dist
compilador.iss
cookies.json
Anime_Downloader.egg-info
chrome-win64